.Catalog {
	min-height: auto;
	padding: 50px 0;
	background-image: linear-gradient(to top, #0d2d57 0%, #82bce9 100%);
}

.Catalog .cards {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 1rem;
	padding: 0;
}